/target
/wildfly
!/wildfly/standalone/configuration/standalone-node1.xml
!/wildfly/standalone/configuration/standalone-node2.xml
**/target
**.war
**.jar
**/.metadata
**/.mule
**/.tooling
**/.tooling-apps-cache
**/mule-enterprise-standalone**
